/* 列表页样式 */
/* 秒杀模块 */
.nav {
	/* 因为sk-items里面的a标签行高超出了nav，且是浮动元素，下面的list-hd文字会围绕浮动元素
  跑到右边，所以需要将a标签超出nav的部分切掉 */
	overflow: hidden;
}
.seckill {
	position: absolute;
	top: 40px;
	left: 190px;
	border-left: 1px solid #c81523;
	padding: 3px 0 0 14px;
}
.sk-list li {
	float: left;
}
.sk-list li a {
	line-height: 47px;
	padding: 0 30px;
	font-size: 16px;
	font-weight: bold;
	color: #000;
}
.sk-items li {
	float: left;
}
.sk-items li a {
	/* 行高大于盒子高度，文字会向下偏移 */
	line-height: 49px;
	padding: 0 20px;
	font-size: 14px;
}
.sk-items li:last-child a::after {
	content: '\e91e';
	font-family: 'icomoon';
}

/* 列表页主体内容 */
.list-bd li {
	float: left;
	width: 290px;
	height: 460px;
	border: 1px solid transparent;
	overflow: hidden;
	margin-right: 13px;
}
.list-bd li img {
	width: 290px;
	height: 460px;
}
.list-bd li:hover {
	border: 1px solid #c81523;
}
.list-bd li:nth-child(4n) {
	margin-right: 0;
}
